﻿* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

header {
    background-color: #008080;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li {
    margin-right: 20px;
}

    .header-menu li:last-child {
        margin-right: 0;
    }

.header-menu a {
    color: #fff;
    text-decoration: none;
}

.container_btn_logo {
    display: flex;
}

.menu-toggle {
    position: relative;
    z-index: 999;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

    .menu-toggle i {
        font-size: 20px;
    }
/* Avatar */
.avatar {
    margin: 20px;
}

    .avatar img {
        width: 80%;
        border-radius: 50%;
    }
/* /Avatar */
.wrapper {
    display: flex;
}

.menu-left {
    background-color: #f2f2f2;
    color: #333;
    height: 100%;
    width: 230px;
    position: absolute;
    left: 0;
    z-index: 1;
}

    .menu-left ul {
        padding: 0;
    }

    .menu-left li {
        height: 40px;
        padding-left: 20px;
        position: relative;
    }

    .menu-left i {
        line-height: 40px;
    }

    .menu-left a {
        color: #333;
        line-height: 40px;
    }

.fa-chevron-right {
    float: right;
    padding-right: 10px;
}
/* Hover cho menu trái */
.menu-left li:hover {
    background-color: #787777;
}

    .menu-left li:hover > a {
        color: #f2f2f2;
    }
    /* xuất hiện menu con */
    .menu-left li:hover .dropdown-menu {
        display: block;
    }
/* Kết thúc hover menu trái */
/* Menu con */
.dropdown-menu {
    display: none;
    position: absolute;
    width: 350px;
    top: 0;
    left: 100%;
    z-index: 9999;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    padding: 10px;
    height: fit-content;
    border-radius: 0 10px 10px 0;
}

    .dropdown-menu li {
        display: flex;
        margin-bottom: 5px;
        font-size: 14px;
        margin: 0;
    }
        /* Hover menu con */
        .dropdown-menu li:hover {
            background-color: #ccffff;
            animation: flicker 1s ease;
        }

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.dropdown-menu li:hover > a {
    color: #333;
    font-weight: 700;
}
/* /Hover menu con */






main {
    padding: 20px;
    flex: 1;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td,
thead th {
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    table {
        display: block;
    }

    thead,
    tbody,
    tr,
    th,
    td {
        display: block;
    }

        tbody td:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
}
