@model IEnumerable<He_thong_ban_DT_online.Models.SANPHAM>
@foreach (var sanpham in Model)
{
    <div class="col-sm-12 col-md-4 col-lg-3 box mr-0" style="margin-left:40px;">
        <div class="box_img">
            <a href="@Url.Action("Details", "HomePhone", new { id = sanpham.MaSP })">
                <img src="~/images/@sanpham.HinhMinhHoa" alt="">
            </a>
        </div>
        <div class="name_sp">
            <span>@sanpham.TenDT</span>
        </div>
        <div class="price">
            <span>@string.Format("{0:N0} VNĐ", Double.Parse(sanpham.Dongia.ToString()))</span>
            <del>24.900.000đ</del>
        </div>
        <div class="btn_buy">
            <button> Mua</button>
            <button> +Giỏ Hàng </button>
        </div>
        <div class="star">
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <i class="fas fa-star" aria-hidden="true"></i>
            <p>11 đánh giá</p>
        </div>
    </div>
}