@model He_thong_ban_DT_online.Models.SANPHAM
<div class="flash_sale">
    <div class="header_content">
        <div class="text_content">
            <i class="fa-regular fa-star"></i>
            <span> Đề xuất </span>
        </div>
    </div>
</div>
<div class="rowstyle">
    @Html.Action("SPTheoBrand", "HomePhone")
</div>

