@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .failure-message {
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        color: #721c24;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

</style>

<h2>Payment Failure</h2>

<div class="failure-message">
    <p>We're sorry, but your payment was not successful.</p>
    <p>Please try again later or contact customer support for further assistance.</p>
</div>
